<p style="color: green"><%= notice %></p>
<%= link_to "Generate shopping list", new_shopping_list_path %>
<%= render @recipe %>
<div>
  <%= link_to "Back to recipes", recipes_path %>
  <% if can? :manage, @recipe %>
    <%= button_to "Delete", @recipe, method: :delete %>
  <%end%>
</div>
<% if can? :manage, @recipe %>
  <%= form_with(model: @recipe) do |form| %>
    <div>
      <%= form.label :public, style: "display: block" %>
      <%= form.check_box :public, onchange: "this.form.submit();"%>
    </div>
  <% end %>
  <%= link_to "New food", new_food_path %>
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th scope="col">food</th>
          <th scope="col">measurement units</th>
          <th scope="col">unit price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @recipes.each do |food| %>
          <tr>
            <%= render food %>
            <td>
              <%= button_to "Destroy", food, method: :delete %>
            </td>
          </tr>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
<%end%>
