<tr id="<%= dom_id food %>">
  <th>
    <%= food.name %>
  </th>

  <td>
    <%= food.measurement_unit %>
  </td>

  <td>
    <%= food.price %>
  </td>

    <td>
  <%= link_to "Destroy this food", @food, method: :delete %>
  </td>

</tr>
