<div id="<%= dom_id shopping_list %>">
  <p>
    <strong>Food:</strong>
    <%= shopping_list.food %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= shopping_list.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= shopping_list.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= shopping_list.user_id %>
  </p>

</div>
