<h1>Editing recipe</h1>

<%= form_tag("edit_recipe_recipe_food_path", method: "update") do %>
  <%= label_tag(:quantity) %>
  <%= number_field_tag(:quantity) %>
  <%= label_tag(:food) %>
  <%= select_tag "recipe_food[food_id]", options_from_collection_for_select(Food.all, "id", "name")%>
  <%= submit_tag("Add") %>
<% end %>
