<%if user_signed_in?%>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <%= link_to 'Recipe App', root_url, class_name: "navbar-brand"%>
    <div class="collapse navbar-collapse " >
      <ul class="navbar-nav navbar1">
        <li class="nav-item active">
          <a class="nav-link" ><%=link_to 'my recipes', recipes_path%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><%=link_to 'food', root_path%></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" ><%=link_to 'public recipes', public_recipes_path%></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" ><%=link_to 'shopping list',  shopping_lists_path%></a>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path,  data: {
                            turbo_method: :delete
                        }, class_name: 'nav-item' %></li>
      </ul>
    </div>
    <h3>
      hello <span> <%= current_user.name%> </span>
    </h3>
  </nav>
<%end%>
